<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid>
    <div class="container zecontainer">
      <ion-row class="result d-flex flex-row-reverse pr-3 pt-4 pb-1" id="blocResultat">
      </ion-row>

      <ion-row class="operation d-flex flex-row-reverse pr-3" id="blocAffichage">
      </ion-row>

      <ion-row class="p-3">
          <ion-col>
            <button (click)="clickC()" type="button" class="btn learn-more zeBtn btn-secondary">C</button>
          </ion-col>
          <ion-col>
            <button (click)="clickPourcent()" type="button" class="btn learn-more zeBtn btn-secondary"><i class="fas fa-percent"></i></button>
          </ion-col>
          <ion-col>
            <button (click)="clickMoinsPlus()" type="button" class="btn learn-more zeBtn btn-secondary">+/-</button>
          </ion-col>
          <ion-col>
            <button (click)="clickMultiplier()" type="button" class="btn learn-more zeBtn"><i class="fas fa-times"></i></button>
          </ion-col>
      </ion-row>
      <ion-row class="p-3">
          <ion-col>
            <button (click)="click1()" type="button" class="btn learn-more zeBtn btn-light">1</button>
          </ion-col>
          <ion-col>
            <button (click)="click2()" type="button" class="btn learn-more zeBtn btn-light">2</button>
          </ion-col>
          <ion-col>
            <button (click)="click3()" type="button" class="btn learn-more zeBtn btn-light">3</button>
          </ion-col>
          <ion-col>
            <button (click)="clickMoins()" type="button" class="btn learn-more zeBtn"><i class="fas fa-minus"></i></button>
          </ion-col>
      </ion-row>
      <ion-row class="p-3">
          <ion-col>
            <button (click)="click4()" type="button" class="btn learn-more zeBtn btn-light">4</button>
          </ion-col>
          <ion-col>
            <button (click)="click5()" type="button" class="btn learn-more zeBtn btn-light">5</button>
          </ion-col>
          <ion-col>
            <button (click)="click6()" type="button" class="btn learn-more zeBtn btn-light">6</button>
          </ion-col>
          <ion-col>
            <button (click)="clickDiviser()" type="button" class="btn learn-more zeBtn btn-success"><i class="fas fa-divide"></i></button>
          </ion-col>
      </ion-row>
      <ion-row class="p-3">
          <ion-col>
            <button (click)="click7()" type="button" class="btn learn-more zeBtn btn-light">7</button>
          </ion-col>
          <ion-col>
            <button (click)="click8()" type="button" class="btn learn-more zeBtn btn-light">8</button>
          </ion-col>
          <ion-col>
            <button (click)="click9()" type="button" class="btn learn-more zeBtn btn-light">9</button>
          </ion-col>
          <ion-col>
            <button (click)="clickPlus()" type="button" class="btn learn-more zeBtn btn-danger"><i class="fas fa-plus"></i></button>
          </ion-col>
      </ion-row>
      <ion-row class="p-3">
          <ion-col>
            <button (click)="click0()" type="button" class="btn learn-more zeBtn btn-light">0</button>
          </ion-col>
          <ion-col>
            <button (click)="clickPoint()" type="button" class="btn learn-more zeBtn btn-light">.</button>
          </ion-col>
          <ion-col>
            <button (click)="clickResultat()" type="button" class="btn learn-more btn-success-6" id="equal"><i class="fas fa-equals"></i></button>
          </ion-col>
      </ion-row>
    </div>
  </ion-grid>
</ion-content>
